<% flash.each do |type, msg| %>
  <div style="color:blue">
    <%= msg %>
  </div>
<% end %>

<%= form_with model: @user do |form| %>
    <%= form.label :username %>
    <%= form.text_field :username, placeholder: "Enter username..." %>
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "example@email.com" %>
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "Enter password..." %>
    <%= form.submit "Update" %>
<% end %>